node_modules

bundle.js

config.js

npm-debug.log

.DS_Store

.eslintrc.js

coverage

coverage/clover.xml

coverage/lcov-report/index.html

database/data/songs.csv
database/data/playHistory.csv
database/data/likes.csv
